
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Header*/
        
body {
    font-family: Arial, sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: #f0f0f0; /* Set a background color as a fallback */
    }
    
    .background-container {
    
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    }
    
    header {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for better readability */
    padding: 10px;
    display: flex;
    align-items: center;
    z-index: 1; /* Place the header above the background image */
    }
    
    header img {
    width: 150px;
    height: auto;
    margin-right: 10px;
    max-height: 100px;
    border-radius: 50%;
    }
    
    header h1 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
    }
    
    .search-bar {
    margin-right: 10px;
    }
    
    .search-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    }
    
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: bisque;
    }
    
    li a{
    float: left;
    }
    
    li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    
    li a:hover {
    background-color: white;
    }
    
    li button{
    
    border: none;
    background: none;
    outline: none;
    transition: 0.5s;
    cursor: pointer;
    float: right;
    text-align: right;
    
    
    }
    
    
    .secondkey{
    padding: 15px 40px;
    background:burlywood;
    border: 2px solid white;
    font-weight: bold;
    color:black;
    
    
    }
    
    .primarykey{
    padding: 15px 40px;
    background:burlywood;
    border: 2px solid white;
    font-weight: bold;
    color:black;
    
    }
    
    .primarykey:hover {
    background-color:white;
    color: black;
    }
    
    .secondkey:hover{
    background-color:white;
    color: black;
    }
    
    footer{
    background-color: rgba(255, 255, 255, 0.8);
    }
    
    
    
    .bottomright {
    position: absolute;
    bottom: 0%;
    right: 0%;
    font-size: 18px;
    background-color:rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 0%;
    
    }
    
    .bottomleft {
    font-size: 10px;
    margin-bottom: 15px; 
    margin-left: 8px;
    }
    
    .fi{
    padding: 10px ;
    width: 30px;
    height: 30px;
    margin-top: 20%;
    
    
    }
    .imagee{
    position: absolute;
    font-size: 18px;
    right: 0;
    
    
    }
    
    .gold{
    margin-left: 50%;
    }
    .bottomleft
    {
        margin: bottom 30px;;
    }
    .divvv1{
        background-color: white;
        width: 100%;
        height: 40px;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8%;
    }

    /*footer*/
    
    .boxxx{
        background-color: white;
        width: 100%;
        height: 80px;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    .h22{
        margin-left: 45%;
    }
    .i1{
        width: 20px;
        height: 20px;
        
    
        
       
    }
    .i2{
        width: 20px;
        height: 20px;
        
    
    }
    .i3{
        width: 20px;
        height: 20px;
        
    
    }
    
    .box{
       
        width: 10%;
        height: 40px;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        margin-left: 88%;
        margin-top: 2%;
        padding: 0px 8px;
    }
    .boxx{
       
        width: 30%;
        height: 50px;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        margin-top: 2%;
        
        
    }
    .para{
        padding: 0px 10px;
    }
    
    .home{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        padding: 150px 0 100px 0;
        height: 100%;
    }
    
    .contact{
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }
    
    .contact h3{
        font-size: 28px;
        color: #033f5f;
    }
    
    .contact p{
        font-size: 17px;
        padding: 15px;
        border: 1px solid #222;
        border-radius: 5px;
    }
    
    
    
    
    /* event page */
    
    .event{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 100px 0 50px 0;
    }
    
    .event-container{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }
    
    .top, .bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .bottom span{
        margin-left: -10px;
    }
    
    .event span{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;


        display: flex;
        align-items: center;
        justify-content: center;flex-direction: column;
        margin-top: 5%;
    }
    
    .event img{
        width: 180px;
    }
    
    .btn {
        margin-top: 30px;
        display: inline-block;
        color: #f0f0f0;
        background-color: cornflowerblue;
        padding: 1rem 5rem;
        border-radius: .5rem;
        font-size: 1.4rem;
    }
        .btn:hover{
            background-color: #0a0c55;
        }
    
    .event img:hover{
        transform: scale(1.5);
        transition: 0.5s;
        cursor: pointer;
    }   
    
    
    
    

    .event span p{
        width: 180px;
        font-size: 14px;
        text-align: justify;
    }

    
    
    .eve{
         font-size: 4rem;
         color: var(--primary);
         text-align: center;
         text-transform: uppercase;
         font-weight: bolder;
         margin-bottom: 3rem;
}
        